

.sidebar{
    width: 270px;
    background: #F2EAE1;
    padding: 18px 25px 33px 25px;
    height: 100%;
    &__top{
        display: flex;
        gap: 12px;

       

       
    }

    &__admin{
        margin-top: 27px ;
        display: flex;
        flex-direction: column;
        width: 141px;
        padding-top: 27px;
        margin: 0 auto;
        text-align: center;

        &--img{
            border-radius: 50%;
        }


        &--role{
            margin-top: 10px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #FEAF00;
        }
    }   
}

